#sottotitolo{
    height: 80px;
}
.main-sect{
    height: calc(100vh - 180px);
    overflow-y: scroll;
}
.card{
    width: 200px;
    height: 120px;
    margin-left: 60px;
}
.card>i{
 font-size: 50px;
 text-align: center;
 margin-top: 20px;
}